<!DOCTYPE html>
<html>
<head>
    <title>Загрузка файлов</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Автоматизация заполнения карточки Ф.9-арт</h1>
    <div class container>
    <h2>Шаг 1</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <p>Нажмите на ссылку ниже, чтобы скачать файл, который необходимо заполнить.
        <br>Вы найдете его в загрузках.  
        <br>Наименование файла "Список_военнослужащих.xlsx"</p>
      <a href="Список_военнослужащих.xlsx" download>Скачать файл</a>
    </form>
    <br>
    <h2>Шаг 2</h2>
      <form>
        <p>Заполните список и сохраните его. Запомните путь к сохраненному файлу. 
          <br><b>Ни в коем случае не переименовывайте файл!!!</b></p>
      </form>
    <br>
    <h2>Шаг 3</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="fileToUpload">Нажмите на кнопку "Выбрать файлы и загрузите подготовленный список."
        <br>Нажмите "Загрузить файл"
        </label>
        <input type="file" name="fileToUpload" id="fileToUpload" multiple>
        <br>
        <br>
        <input type="submit" value="Загрузить файл" name="submit">
    </form>
    <br>
    <h2>Шаг 4</h2>
      <form>
        <p>Заполненные карточки с внесенными из списка данными появятся в разделе
          <br><b>Загрузки (Downloads)</b>. Имя файла соответствует фамилии владельца пистолета.</p>
      </form>
  </div>
  <a href="" download_folder("/Gotovie_kartochki")>Скачать готовые карточки в сответствии с представленным списком</a>
      
  <br>
  <h7>Техническая поддержка: Polkovnikovav@rosgvard.ru</h7>
  </div>
</body>
</html>